{% extends 'base.html' %} {% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="body1">

<h1 class="h1_cneter">Your applied jobs</h1>

    <div class="card-container">
        {% for i in job %}
        <div class="card">
            <div class="card_img">
              <img src="/{{i.Job_Image}}" alt="Job Image">
            </div>
            <div class="container">
                <h4><b>{{i.Category | title}}</b></h4>
                <h4><b>{{i.Openings}}</b></h4>
                <h4><b>{{i.Skill | title}}</b></h4>
                <p>{{i.Job_Dscriptions}}</p>

                
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>
{% endblock body %}