{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body>
    <div class="search-bar mb-4">
        <div class="input-group">

            <form action=" {% url 'searchJob' %} " method="GET">

                <input type="text" class="form-control" name="query" placeholder="Search for jobs..." id="search-input">
                <div class="input-group-append">
                    <button class="btn btn-success" id="search-button">Search</button>
                </div>
                
            </form>
            
        </div>
    </div>
    {% for i in jobs %}
<h2>{{i.job_title}}</h2>

<div class="card">
   
  <img src="/{{i.Job_Image}}" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>{{i.Category | title}}</b></h4> 
    <h4><b>{{i.Openings}}</b></h4> 
    <h4><b>{{i.Skill | title}}</b></h4> 
    <p>{{i.Job_Dscriptions}}</p> 

    
    {% if request.user.user_type == "seeker" %}
    <button><a href="{% url 'applyjob' i.id %}">Apply Now</a></button>
        
    {% endif %}
    <br>
    <br>
        
  </div>
</div>

</body>
</html> 




{% endfor %}
{% endblock body %}