{% extends 'base.html' %} {% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="body1">

    <div class="search-bar mb-4">
        <div class="input-group">
            <form action="{% url 'searchJob' %}" method="GET">
                <input type="text" name="query" placeholder="Search for jobs..." id="search-input">
                <div class="input-group-append">
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-container">
        {% for i in jobs %}
        <div class="card">
            <div class="card_img">
              <img src="/{{i.Job_Image}}" alt="Job Image">
            </div>
            <div class="container">
                <h4><b>{{i.Category | title}}</b></h4>
                <h4><b>{{i.Openings}}</b></h4>
                <h4><b>{{i.Skill | title}}</b></h4>
                <p>{{i.Job_Dscriptions}}</p>

                {% if request.user.user_type == "seeker" %}
                <button><a href="{% url 'applyjob' i.id %}">Apply Now</a></button> {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>
{% endblock body %}